[submodule "tock"]
	path = tock
	url = https://github.com/tock/tock.git
[submodule "examples/profiling"]
	path = examples/profiling
	url = git@github.com:ucsd-cse221-wi21/ucsd_cse221_wi21_GrantJiang_Pumuckl007_gemarcano.git
